* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  background-color: rgba(86, 94, 86, 0.44);
  font-family: 'Lato', sans-serif;
}
.big-header {
  width: 100%;
  height: 100px;
  background-color: rgb(33, 142, 119);
  position: relative;
}
.wrapper {
  width: 900px;
  height: 700px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.float-left {
  float: left;
  height: 100%;
  width: 300px;

  /* background-color: lightgrey; */
}
.float-right {
  float:right;
  height: 100%;
  width: 600px;
  background-color: #e5ddd5;
  /* overflow-y: scroll; */
}
.wrapper::after {
  content:'';
  display:table;
  clear:both;
}

.icons {
  width: 300px;
  height: 80px;
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.box-1 {
  padding: 5px;
  width: 250px;
  margin-top: 15px;
  line-height: 20px;
}
.box-2 {
  margin-top: 20px;
  margin-left: 100px;
  padding-top: 5px;
  padding-left: 40px;
  width: 250px;
  line-height: 20px;

}
.icon-plus {
  display: inline;
  color: grey;
  padding-top: 10px;
  vertical-align: middle;
  width: 40px;
}
span {
  padding: 3px;
}
.avatar {
  width: 60%;
  vertical-align: middle;
}

.notifications {
  width: 300px;
  height: 80px;
  background-color: lightblue;
  display: flex;
  align-items: center;

}
.ring-bell {
  width: 50px;
  height: 50px;
  line-height: 20px;
  margin-left: 5px;
  padding: 5px;
  background-color: white;
  color: lightblue;
  text-align: center;
  margin-right: 5px;
  border-radius: 50px;
}
.bell {
  vertical-align: middle;
  font-size: 30px;
}
.notifications-text {
  padding: 5px;
}
.selezione {
 vertical-align: middle;
 font-size: 14px;
 font-weight: bold;
}
.link-selection {
  color:grey;
  font-size: 10px;
}
.search {
  width: 300px;
  height: 40px;
  background-color: white;
  ;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin: 5px 0;
  border: 1px solid lightgrey;
}
.icon-search {
  padding: 10px;
  background: white;
  color: grey;
  min-width: 50px;
  text-align: center;
}

.input {
  width: 280px;
  margin: 10px;
  border: 1px solid grey;
}
.list-contacts {
  width: 300px;
  height: 500px;
  padding: 5px;
  border: 1px solid grey;
  overflow-y: scroll;
}
.information-contact {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
}
.contact-avatar {
  width: 60px;
  height: 60px;
  margin: 5px;
  margin-right: 10px;
}

.avatar2 {
  width: 100%;
  max-height: 100%;
  padding-top: 5px;
  margin-top: 5px;
}
.contat-text {
  padding: 5px;
}

.federico:hover,
.federico:active,
.federico:focus {
  opacity: 0.9;
  background-color: grey;
}
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
} */
.contact {
  display:block
  width: 600px;
  height: 80px;
  background-color: rgb(234, 234, 234);
}
.contact.clicked {
  display: none;
}
.contat-text h3 {
  font-weight: bold;
}
.contat-text {
  font-weight: bold;
}
.undertitle {
  font-weight: normal;
}
small {
  font-weight: normal;
}
.contact-choise {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;

}
.box-3 {
  margin-left: 00px;
  padding-top: 10px;
  padding-left: 180px;
  line-height: 20px;
}
.contact-choise-icon {
  color:grey;
  font-size: 30px;
}

.bg-conversation {
  /* display:none; */
  width: 100%;
  height: 530px;
  opacity: 0.5;
  overflow: hidden;

}
.conversations {
  width: 100%;
  height: calc(100% - 160px);
  overflow-y: scroll;
}
.conversation {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: lightgrey;

}
.conversation.active {
  display: block;
}

.message {
  position: relative;
  min-width: 30%;
  max-width: 60%;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
.message-top {
  display: flex;
  justify-content: space-between;
}
.message-bottom {
  text-align: right;
}
.message.sent {
  float: right;
  clear: both;
  background-color: green;
}

.message.received {
  float: left;
  clear: both;
  background: white;
}
.message:hover .message-options,
.message:active .message-options,
.message:focus .message-options{
  display: block;
  cursor: pointer;
}
.message-options {
  display: none;
}

.message-link {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  background: white;
}
.message-link.active {
  display: block;
}
.message-link ul {
  list-style:  none;
}
.col-right-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: orange;
}

.write {
  margin-bottom: 50px;
  width: 600px;
  height: 85px;
  background-color: rgb(216, 227, 213);
}
.write-container {
  min-width: 580px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bg-conversation {
  z-index: -1;
}
.box-4 {
  padding-right: 15px;
  width: 25%;
  text-align: center;
  line-height: 20px;
}
.box-5 {
  margin-top: 10px;
  padding: 0 15px;
  width: 90%;
}

.box-6 {
  padding-right: 20px;
  width: 25%;
  text-align: center;
  line-height: 20px;
}
.face {
  width: 20%;
  vertical-align: middle;
  font-size: 30px;
  color: grey;

}
.input-message {
  border: 5px solid lightblue;
  width: 400px;
  height: 50px;
}
.send-text {
  width: 15%;
  vertical-align: middle;
  font-size: 30px;
  color: grey;
}


.template {
  display:none;
}

.contact.clicked {
  display: none;
}
/* .green-message {
  z-index: 0;
  /* max-width: 20%;
  max-height: 50%;
  background-color: green; */
/* }
/* .btn {
  display: inline-block;
  font-size: 15px;
  color:black;
  background-color: green;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 5px;
  /* transition: all 2s linear 1s */
} */
